# R project information
.Rproj.user
docs/
/doc/
/Meta/
CRAN-RELEASE
inst/doc

# pkgdown files
pkgdown/

# RStudio meta files
.Rhistory
.Renviron
.Rprofile

# Ignore files and data not necessary
*.RData
.Ruserdata
*.png

# Ignore configuration and secrets
config.txt

# Python
__pycache__/

# VSCode configurations
.vscode/
